{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE html>
{% spaceless %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{% trans "PVP" %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "bower/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
  </head>
  <body>
  {% block body %}
  {% include "navigation.html" %}
  <div class="container-fluid">
      <div class="row">
        {% block sidebar %}
          <div class="col-sm-3 col-md-2 sidebar">
          {% include "sidebar.html" %}
          </div>
        {% endblock %}
        {% block main %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row">
            <div class="col-md-12">
              {% if messages %}
                <ul class="list-group">
                  {% for message in messages %}
                  <li{% if message.tags %} class="list-group-item {{ message.tags }}"{% endif %}>
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                      {{ message }}
                  </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          {% block content %}{% endblock %}
        </div>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "bower/jquery/dist/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bower/bootstrap/dist/js/bootstrap.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
{% endspaceless %}
