{% extends "base.html" %}
{% block content %}
<div class="pvp-post">
  <h2 class="pvp-post-title">Generating Actionable Clinical Information from Individual Genomes</h2>
  <p>GenomeFit is a service that facilitates clinical decisions by providing diagnostics and drug effects analysis of patients of rare genetic diseases for a competitive cost and turnaround time.</p>
  <hr>
  <h2>How does GenomeFit Piepline work?</h2>
  <p>GenomeFit is a pipeline for ranking (prioritizing) candidate genomic variants in exomes, genomes, or NGS panels, as well as determining any genomic variants that are likely to cause harmful side effects of potential prescribed drugs. GenomeFit analysis is powered by a catalogue of known disease-associated genes derived from human, and model organisms studies, and knowledgebase of about genomic variants known to result in adverse drug reactions for specific drugs.</p>
</div>
{% endblock %}
